name: Build and Push Coverage Maps App

on:
  push:
    branches:
      - main
    paths:
      - src/**
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # Check out the code from the repository
      - name: Checkout code
        uses: actions/checkout@v4
      
      # Make sure buildx is used
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set CalVer tag
        id: calver
        run: |
          YEAR=$(date +'%Y')
          MONTH=$(date +'%m' | sed 's/^0//')
          RELEASE=${GITHUB_RUN_NUMBER}
          echo "tag=${YEAR}.${MONTH}.${RELEASE}" >> $GITHUB_OUTPUT

      
      # Build and push image
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/eodcgmbh/coverage-maps/coverage_maps:latest
            ghcr.io/eodcgmbh/coverage-maps/coverage_maps:${{ steps.calver.outputs.tag }}
          file: Dockerfile